@tailwind base;

@tailwind components;

@tailwind utilities;

.main-nav {
    @apply flex items-center .justify-between flex-wrap .bg-grey-darkest .p-4 .inset-0;
}

.main-logo {
    @apply block flex items-center flex-shrink-0 text-white;
}

.menu-item {
    @apply no-underline block p-4 text-grey-darker;
}

html{
    line-height: normal;
}
h1{
    @apply text-xl font-semibold;
}